/* Layout for Tablet Devices */
@media (max-width: 1000px) {

  .header-list {
   flex-wrap: wrap;
  }

  .header-list li {
    width: 25%;
  }

  .header-list a{
    padding : 20px 10px;
    font-size: 13px;
  }

  .header-logo h1{
    font-size: 20px;
  }  

  .header-right {
    float: right;
    padding-top: 5px;
    display: inline-block;
    cursor: pointer;
  }

  .header-right span{
    line-height: 3;
  }

  .intro {
    padding: 100px;
    background-position: center;
  }

  .intro h1{
    padding-top: 200px;
    font-size: 20px;
  }

  .intro P{
    font-size: 15px;
  }


  .leader {
    padding: 40px;
  }

  .image img{
    margin-top: 20px;
  }

  .text {
    margin :30px 0px;
  }


  .member {
   flex-wrap: wrap;
  }


  .member {
  	float:left;
    width: 100%;
  }
  .member-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  	width: 30%;
  }
  .text-content h2{
    font-size: 20px;
    margin : auto;
  }
}

/* Layout for Phone Devices */
@media all and (max-width: 670px) {
  h1 {
    font-size :20px;
  }


  .header-list {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .text h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .text p {
    font-size: 16px;
    line-height: 20px;
  }

}