* {
  box-sizing: border-box;
}


.main {
	background-color: black;
  color : white;
  text-align: center;
}

.main img{
  width : 30%;
}

.image-kakashi  {
  display : inline-block;
}

.image-kakashi img {
  padding : 10px 10px;
  float : right;
}

.text-kakashi {
  padding : 10px 10px;
  float : left;
  width : 50%;
  display : inline-block;
  letter-spacing : 2px;
}

.btn {
  padding: 12px 24px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  background-color : green;
  text-decoration: none;
  color :white;
}

.btn a{
  display : block;
}

.members {
  padding : 10px 10px;
  text-align : center;
  width : 33%;
  display : block;
}

.member {
  float : left;
}