* {
  box-sizing: border-box;
}

body {
  font-family :"ubuntu";
  margin: 0;
  background-image: url(https://images.wikia.nocookie.net/__cb11/naruto/images/5/50/Wiki-background);
  background-repeat: repeat;
  background-color: 
}

p {
  font-weight: bolder;
}

li {
  list-style: none;
}

.container {
  padding: 0 15px;
}

/* Start of header*/
header {
  height: 90px;
  width: 100%;
  background: #1b2124;
  position :fixed;
  color : white;
  top: 0;
  z-index: 10;
}

.header-logo h1{
  font-weight: bold;
  float: left;
  font-size: 30px;
  margin : 15px;
  padding-right : 10px;
  color : white;
}

.header-list li {
  font-weight : bold;
  font-size : 15px;
  float: left;
  color : #767e82;
  padding: 25px 20px;
}

.header-right {
  float : right ;
}

.header-right span {
  line-height: 50px;
  color: white;
  display: block;
  background-color: #BA340B;
}

.btn {   
  border-radius: 10px;

}

.message {
  padding: 5px 10px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 5px #1a7940;
}

.message:active {
  box-shadow :none;
  position : relative;
  top :7px;
} 


/* end of header*/


/*Start of main */

.main {
  background-color: black;
  height: 90px;
}

.leader {
  display : inline-block;
  width: 100%;
  padding: 40px 30px 30px 30px;
}


.image img {
  width: 25%;
  padding : 10px 10px;
  float : left;
  filter: drop-shadow(10px 10px 5px #73A936);
}

.text {
  border: 1px solid black;
  border-radius:10px;
  background-color: white;
  padding: 15px;
  float : left;
  width : 60%;
  letter-spacing : 2px;
  margin: 200px 0;
}

.text h2 {
  font-size : 32px;
}

.btns {
  padding: 12px 24px;
  display: inline-block;
  border-radius: 4px;
  background-color : green;
  text-decoration: none;
  color :white;
  cursor: pointer;
  box-shadow: 0px 5px black;
}

.btns a{
  display : block;
}


.btns:active {
  box-shadow :none;
  position : relative;
  top :7px;
} 

.members {
  text-align : center;
  padding: 20px;
}

.member {
  border-radius: 20px;
  color: white;
  width : 30%;
  float ; left;
  display : inline-block;
  padding: 30px;
}

.member-image img{
  width: 90%;
}

.text-content {
  color : black;
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  border : 2px solid black;
}

.text-content h2 {
  font-size: 30px;
}

.text-content p{
  letter-spacing: 1px;
  padding-bottom: 5px;
}

.naruto img{
  filter: drop-shadow(10px 10px 5px #ff9933);
}

.sasuke img{
  filter: drop-shadow(10px 10px 5px #1B255C);
}

.sakura img{
  filter: drop-shadow(10px 10px 5px #B099A5);

}

/*end of main */