* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}


.introduction {
	background-color: black;
}

.introduction h1{
	text-align: center
}


.introduction p{
	text-align: center
}